.achievements-parallax {
  /* The image used */
  background-image: url("../assets/img/bg-masthead.jpg");
  /* Set a specific height */
  min-height: 50vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.achievements-header {
  padding-top: 10rem;
}

.achievements img {
  width: 20rem;
  display: inline !important;
  margin-left: auto;
  margin-right: auto;
}

/*
@media only screen and (min-width: 768px) {
  .center {
    position: relative;
  }

  .center img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
*/
@media only screen and (max-width: 768px) {
  .image-div {
    padding-left: 0;
    padding-right: 0;
  }

  .achievements img {
    width: 34rem;
    height: 18rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 34rem) {
  .image-div {
    padding-left: 0;
    padding-right: 0;
  }

  .achievements img {
    width: 100vw;
    height: 18rem;
    margin-left: 0;
    margin-right: 0;
  }
}