.team-parallax {
  /* The image used */
  background-image: url("../assets/img/bg-masthead.jpg");
  /* Set a specific height */
  min-height: 90vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-boxed {
  color: #313437;
  background-color: #eef4f7;
}

.team-boxed p {
  color: #7d8285;
}

.team-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.team-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.team-boxed .intro p {
  margin-bottom: 0;
}

.team-boxed .people {
  padding: 50px 0;
}

.team-boxed .item {
  text-align: center;
}

.team-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.team-boxed .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.team-boxed .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #d0d0d0;
  letter-spacing: 2px;
  font-size: 13px;
}

.team-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.team-boxed .item img {
  max-width: 160px;
}

.team-boxed .social {
  font-size: 18px;
  color: #a2a8ae;
}

.team-boxed .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-boxed .social a:hover {
  opacity: 1;
}

/*ALUMNI*/
.table-container {
  min-height: 80vh;
}

.table-container table {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 470px) {
  .table-container th, .table-container td {
    padding: 1rem;
  }
}

.actual-table-container {
  padding: 0;
}

.large-mode {
  display: none;
}

.small-mode {
  display: block;
}

@media only screen and (min-width: 770px) {
  .small-mode {
    display: none;
  }

  .large-mode {
    display: block;
  }
}

.alumni {
  background-color: #f8fcfd;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #45abc4 !important;
}

.table-container .nav-link {
  color: #45abc4 !important;
}